*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

.list {
  min-height: 400px;
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  background-color: #fff3f3;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
}

.card {
  border-radius: 10px;
  background-color: #fff3f3;
  height: 100px;
  width: 170px;
  margin: 10px auto;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, .5) !important;
}

.ReactModal__Overlay div {
  height: 33%;
}

button:disabled {
  filter: opacity(0.5);
}

ion-icon {
  cursor: pointer;
}

.btn-list {
  background-color: blueviolet !important;
}